<h1>Welcome to Monocle!</h1>

<% if current_user %>
<div>Welcome, <%= link_to current_user.first_name, users_profile_path %>! </div>
<div><%= link_to "Create a new goal", new_user_goal_path(current_user) %></div>
<% else %>
<div>Sign in <%= link_to "here!", new_user_session_path %></div>
<% end %>