.steps-header
  .step.active
    .numberCircle.left
      .number
        1
    .step-text
      Basic Info
  .step
    .numberCircle.left
      .number
        2
    .step-text
      Checkins
  .step
    .numberCircle.left
      .number
        3
    .step-text
      Payment
  .step
    .numberCircle.left
      .number
        4
    .step-text
      Confirm
  .clearfix