%h1 My Projects
%div= link_to "+ New project", new_user_project_path(current_user)
- @projects.each do |project|
  %h2= project.name
  %p= link_to 'delete project?', { action: :destroy, user_id: current_user.id, id: project.id }, method: :delete, data: { confirm: 'Are you sure?' }
  %p= project.description
  %hr/
