$header-font-face: "fira-sans-2",sans-serif;
$body-font-face: "franklin-gothic-urw",sans-serif;

body {
  font-family: $body-font-face;
  font-style: normal;
  font-weight: 500;
  min-width: 700px;
  height: 100%;
  background-color: #444;
  margin: 0;
}

h1, h2, h3 {
  font-family: $header-font-face;
  margin-top: 0px;
}

.clearfix { clear: both; }

a {
  color: #fff;
  text-decoration: none;
}

.hidden { display: none; }

.btn {
  color: #fff;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 12pt;
  border: 1px solid #666;
  font-family: $header-font-face;

  &.thin { padding: 5px 15px; }

  &.dark-grey {
    background-color: #444;
    @-webkit-keyframes darkGreyPulse {
      from { background-color: #444; }
      50% { background-color: #666; }
      to { background-color: #444; }
    }
    &:hover {
      background-color: #494949;
      -webkit-animation-name: darkGreyPulse;
      -webkit-animation-duration: 3s;
      -webkit-animation-iteration-count: infinite;
    }
  }

  &.grey {
    background-color: #666;
    @-webkit-keyframes greyPulse {
      from { background-color: #666; }
      50% { background-color: #888; }
      to { background-color: #666; }
    }
    &:hover {
      background-color: #777;
      -webkit-animation-name: greyPulse;
      -webkit-animation-duration: 2s;
      -webkit-animation-iteration-count: infinite;
    }
  }

  &.green {
    background-color: #60b044;
    border: 1px solid #5ca941;

    @-webkit-keyframes greenPulse {
      from { background-color: #60b044; }
      50% { background-color: #69C349; }
      to { background-color: #60b044; }
    }

    &:hover {
      background-color: #69C349;
      -webkit-animation-name: greenPulse;
      -webkit-animation-duration: 2s;
      -webkit-animation-iteration-count: infinite;
    }
  }

  &.huge {
    font-size: 32px;
    line-height: 48px;
    padding: 30px 75px;
    border-width: 1px;
  }
}

#top-nav {
  padding: 20px;
  background-color: #333;

  .left-nav {
    float: left;
    min-width: 450px;
    .logo {
      float: left;
      margin-right: 32px;
    }

    .user-menu { padding: 8px 0px;}
    .my-projects { float: left; }
  }

  .logo {
    background-image: image-url('monocle-logo-2x.png');
    background-size: 243px 38px;
    width: 243px;
    height: 38px;
  }

  .right-nav {
    float: right;

    .sign-in, .sign-out {
      float: left;
      margin: 0px 5px;
    }

    .sign-up {
      float: left;
      margin: 0px 5px;
    }
  }
}

#body-content {
  background: -webkit-linear-gradient(#333, #444); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#333, #444); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#333, #444); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#333, #444); /* Standard syntax */
  padding: 50px 0px;
  min-height: 100%;
  height: auto !important;
  height: 100%;

  a {
    text-decoration: none;
  }

  .section {
    font-family: "fira-sans-2",sans-serif;
  }

  .middle-box {
    margin: 25px auto;
    border: 1px solid #444;
    border-radius: 5px;
    width: 400px;

    &.medium {
      min-width: 650px;
      width: 90%;
    }

    .box-header {
      padding: 10px 20px;
      background: #222;
      color: #fff;
      font-family: $header-font-face;
      font-size: 16pt;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
    }

    .box-body {
      padding: 20px;
      background-color: #fff;
      font-size: 14pt;

      em { font-size: 10pt; }

      #error_explanation {
        background-color: #FCDEDE;
        padding: 10px 5px;
        margin-bottom: 10px;
        border: 1px solid #D2B2B2;
        border-radius: 3px;

        h2 { display: none; }
        ul { margin: 0px; }
      }

      .field { margin-bottom: 10px; }

      .field input[type="text"],
        input[type="email"],
        input[type="password"] {
        margin: 5px 0px;
        width: 340px;
        padding: 5px;
        font-size: 16pt;
      }

      .field input[type="date"] {
        margin: 5px 0px;
        width: 340px;
        padding: 5px;
        font-size: 16pt;
        text-transform: uppercase;
        padding: 0 5px;
        font-family: $body-font-face;
      }

      .field .radio-buttons { margin: 5px 0px 20px 0px; }
    }
  }
}

#footer-nav {
  padding: 20px 0px;
  background-color: #444;
  text-align: center;
  color: #ddd;
  height: 50px;
  width: 100%;
}