$header-font-face: clavo, sans-serif;
$body-font-face: proxima-nova, sans-serif;

body {
  margin: 0px;
  font-family: $body-font-face;
}

h1, h2, h3 {
  font-family: $header-font-face;
  margin-top: 0px;
}

.clearfix { clear: both; }

a {
  color: #fff;
  text-decoration: none;
}

.btn {
  color: #fff;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 12pt;
  border: 1px solid #666;

  &.grey {
    background-color: #666;
  }

  &.green {
    background-color: #60b044;
    border: 1px solid #5ca941;
  }
}

#top-nav {
  padding: 20px;
  background-color: #333;

  .left-nav { float: left; }

  .right-nav {
    float: right;

    .sign-in, .sign-out {
      float: left;
      margin: 0px 5px;
    }

    .sign-up {
      float: left;
      margin: 0px 5px;
    }
  }
}

#body-content {
  padding: 20px;
  background-color: #efefef;
  min-height: 400px;

  a {
    color: #4078C0;
    text-decoration: none;
  }

  .middle-box {
    margin: 25px auto;
    border: 1px solid #aaa;
    border-radius: 5px;
    width: 400px;

    .box-header {
      padding: 10px 20px;
      background: #333;
      color: #fff;
      font-family: $header-font-face;
      font-size: 16pt;
    }

    .box-body {
      padding: 20px;
      background-color: #fff;
      border-radius: 5px;
      font-size: 14pt;

      em { font-size: 10pt; }

      #error_explanation {
        background-color: #FCDEDE;
        padding: 10px 5px;
        margin-bottom: 10px;
        border: 1px solid #D2B2B2;
        border-radius: 3px;

        h2 { display: none; }
        ul { margin: 0px; }
      }

      .field { margin-bottom: 10px; }

      .field input {
        margin: 5px 0px;
        width: 340px;
        padding: 5px;
        font-size: 16pt;
      }
    }
  }
}

#footer-nav {
  padding: 20px;
  background-color: #222;
  min-height: 150px;
  text-align: center;
  color: #ddd;
}