- if current_user
  = link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'btn dark-grey sign-out'
- else
  = link_to 'Sign In', new_user_session_path, class: 'btn dark-grey sign-in'